{% extends 'base.html.twig' %}

{% block body %}
    <h1>¡Permiso denegado!</h1>
    <p>
        No tienes los permisos adecuandos para acceder a <code>{{ errorUrl }}</code>
    </p>
    <p>
        <a href="{{ path('homepage') }}">Volver a la página de inicio</a>.
    </p>
{% endblock %}